* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  background-color: transparent; /* dejo el transparente para la barra de navegación */
  font-family: "roboto-regular";
}
.navbar button {
  background-color: #e1f1f1;
}
.navbar-brand {
  padding-inline-start: 20px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar img {
  height: 50px;
  width: auto;
}

#seccion-presentacion .iconos {
  background-color: #4ec6f5;
  height: 50px;
  text-align: center;
}

#seccion-presentacion .card {
  background-color: #4ec6f5;
  text-align: justify;
  border: 0px;
}
#seccion-presentacion {
  background-color: black;
}
#seccion-presentacion .card-body {
  background-color: black;
  color: white;
  font-size: small;
  text-align: justify;
}

#seccion-destacados .card-body {
  background-color: #4ec6f5;
  height: 165px;
  /* Ajusta la altura  */
}
#seccion-destacados {
  background-color: black;
}
.card-img-top {
  height: 150px; /* Ajusta la altura  */
  object-fit: cover; /* recortar la imagen si es necesario */
}
.seccion-formulario {
  background-color: black;
}
/*Tooltip: Incluir un botón "Enviar por correo" con un tooltip aplicado.s */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posiciona el tooltip encima del elemento */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
#EnviarCorreo {
  background-color: #4ec6f5;
}

#footer {
  background-color: black;
  text-align: left;
}
